body
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../../images/trainspotting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    padding: 0 20px;
}
h1,h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}
.nav1
{  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}
a
{
    text-decoration: none;
    color: black;
}
.words
{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    background-color: silver;
    width: 80%;          
    max-width: 700px;     
    padding: 20px;
    margin: 20px auto;  
    box-sizing: border-box;
}
.Last
{
    padding-bottom: 30px;
}